---
import Layout from "../layouts/Layout.astro"
---
<Layout title="404 - Página no encontrada">
    <div class="flex flex-col items-center justify-center min-h-screen">
        <h1 class="text-6xl font-bold text-red-600 mb-4">404</h1>
        <p class="text-xl text-gray-300 mb-8">La página que buscas no existe. Por favor, verifica la URL e intenta nuevamente.</p>
    </div>
</Layout>