---
import Layout from "../layouts/Layout.astro"
---
<Layout title="404 - Página no encontrada">
    <div class="flex flex-col items-center justify-center max-h-screen">
        <p class="text-base text-red-400 mt-4">La página que buscas no existe. Por favor, verifica la URL e intenta nuevamente.</p>
    </div>
</Layout>