---
import GitHubIcon from "./Icons/GitHubIcon.astro"
---
<footer class="fixed bottom-0 py-7 h-6 w-full">
    <div class="flex justify-between items-center text-xs text-blue-200 hover:text-blue-300 transition-colors duration-300">
        <span>Developed by 
            <strong>
                <a href="https://github.com/flendoh" target="_blank">mhallasi</a>
            </strong>
        </span>
        <a href="#" class="text-purple-400 hover:text-purple-300 transition-colors duration-300">
            <GitHubIcon />
        </a>
    </div>
</footer>